# Зависимости
node_modules/

# выводы
coverage/

# публичные файлы и файлы сборки
public/
build/

# хранения файлов
uploads/

# Переменные окружения
.env
.env.local
.env.*.local

# скрипты
*.sh


# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Системные файлы
.DS_Store
Thumbs.db

# Загруженные файлы
uploads/photos/
uploads/photos/test/ 