.sidebar {
  width: 165px;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
  padding-top: 15px;
  z-index: 2;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin: 1px 0;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 4px 6px 4px 6px;
  color: #285473;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.154;
  border-radius: 4px;
  transition: background-color 0.1s;
}

.navIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
}

.navLink:hover {
  background-color: var(--vk-color-hover);
}

.navLink.active {
  background-color: var(--vk-color-hover);
  color: var(--vk-color-header);
  font-weight: 500;
}

.navLink.active .navIcon {
  opacity: 1;
  color: var(--vk-color-header);
}

/* Адаптивность */
@media (max-width: 1100px) {
  .sidebar {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 130px;
  }
  
  .navLink {
    padding: 4px 4px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    display: none;
  }
} 